
<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{cropperOptions.dialogTitle}}</div>
        <button
            mat-icon-button
            mat-dialog-close
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        >
        <div *ngIf="!imgResultAfterCompression" class="flex flex-col flex-auto w-full">
            <a mat-flat-button class="mx-6" [color]="'accent'" (click)="compressFile()">
                <mat-icon [svgIcon]="'mat_outline:upload_file'"></mat-icon>
                <span class="ml-2">Dosya Seçiniz</span>
            </a>
        </div>
        <div class="flex items-center flex-center" *ngIf="imgResultAfterCompression">
            <image-cropper
            [maintainAspectRatio]="cropperOptions.maintainAspectRatio"
            [containWithinAspectRatio]="cropperOptions.containWithinAspectRatio"
            [resizeToWidth]="cropperOptions.resizeToWidth"
            [resizeToHeight]="cropperOptions.resizeToHeight"
            [aspectRatio]="cropperOptions.aspectRatio"
            [imageBase64]="imgResultAfterCompression"
            [format]="format"
            [imageQuality]="100"
            (imageCropped)="imageCropped($event)"
        ></image-cropper>
        </div>

        <!-- To -->


        <!-- Actions -->
        <div  class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
               
            </div>

            <div class="flex items-center mt-4 sm:mt-0">

                <button
                    class="sm:mx-3"
                    [color]="'warn'"
                    mat-stroked-button
                    mat-dialog-close
                    >
                    <span>İptal</span>
                </button>
                <!-- Send -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [disabled]="!this.croppedImage"
                    [color]="'primary'"
                    [mat-dialog-close]="this.croppedImage"
                    >
                    Yükle
                </button>
            </div>
        </div>
    </form>
</div>
